@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Home"];
}

@section styles{
    <style>
      
        p {
            font-size: 1.1rem;
            line-height: 1.5;
            margin-bottom: 1.5rem;
        }

    </style>
}

<section>
    <div class="container">
        <div>
            <h1 class="mb-4">Welcome to Vision!</h1>
            <p>We are excited to introduce you to our cutting-edge platform that offers unparalleled augmented reality experiences. Our technology is designed to bring your imagination to life, allowing you to see and interact with virtual objects in the real world like never before.</p>
            <p>At Vision, we pride ourselves on providing a user-friendly experience that is accessible to anyone. Whether you're an individual user or a business looking to incorporate AR into your marketing strategy, we have the tools and resources to make it happen.</p>
            <p>Our platform is designed to be flexible and customizable, allowing you to create unique AR experiences that are tailored to your specific needs. With our intuitive interface, you can easily upload your own content, including 3D models, animations, and images, to bring your vision to life.</p>
            <p>Our team of experts is dedicated to providing you with the support and guidance you need to make the most of our platform. We offer comprehensive training and resources to help you get started, as well as ongoing support to ensure your continued success.</p>
        </div>
    </div>
</section>
